.quarter-container{
    min-width:48vw;
    max-width:48vw;
    min-height:48vh;
    max-height:48vh;
    border:2px solid grey;
    margin-top:.5%;
    margin-left:1%;
}

body{
    margin:0;
}

.root-container{
    min-height:100vh;
    max-height:100vh;
    min-width:100vw;
    max-width:100vw;
    display:flex;
    flex-wrap:wrap;
}

.metadata_log_type_option{
    display:none;
}