<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/simple_styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='node_modules/@pgrabovets/json-view/dist/jsonview.js') }}"></script>
    <script>
        fetch('{{ url_for('static',filename='sample.json') }}')
        .then((res)=> {
          return res.text();
        })
        .then((data) => {
          const tree = jsonview.create(data);
          jsonview.render(tree, document.querySelector('.root'));
          //jsonview.expand(tree);
        })
        .catch((err) => {
          console.log(err);
        })
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="root-container">
    <div class="quarter-container">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>MongoDB Query:</h3>
            <textarea style="height:25vh; width:80%;"></textarea>
            <br><br>
            <button>Send Query</button>
        </div>
    </div>

    <div class="quarter-container">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>Metadata JSON:</h3>
            <textarea style="height:25vh; width:80%;"></textarea>
            <br><br>
            <button>Apply Metadata Filter</button>
        </div>
    </div>

    <div class="quarter-container" style="overflow-y:scroll;">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>Query Results:</h3>
            <div class="root"></div>
        </div>
    </div>

    <div class="quarter-container">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>Logs Required By Metadata:</h3>
        </div>
    </div>
</div>
</body>
</html>