<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/simple_styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='node_modules/@pgrabovets/json-view/dist/jsonview.js') }}"></script>
    <script>
        fetch('{{ url_for('static',filename='sample.json') }}')
        .then((res)=> {
          return res.text();
        })
        .then((data) => {
          const tree = jsonview.create(data);
          jsonview.render(tree, document.querySelector('.root'));
          //jsonview.expand(tree);
        })
        .catch((err) => {
          console.log(err);
        })
    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="root-container">
    <div class="quarter-container">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>MongoDB Query:</h3>
            <textarea style="height:25vh; width:80%;"></textarea>
            <br><br>
            <button>Send Query</button>
        </div>
    </div>

    <div class="quarter-container">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>Metadata JSON:</h3>
            <textarea style="height:25vh; width:80%;"></textarea>
            <br><br>
            <button>Apply Metadata Filter</button>
        </div>
    </div>

    <div class="quarter-container" style="overflow-y:scroll;">
        <div style="margin-left:10%; margin-top:75px;">
            <h3>Query Results:</h3>
            <div class="root"></div>
        </div>
    </div>

    <div class="quarter-container">
        <div style="margin-left:10%; margin-top:75px;">
            <!--
                1.	StartGame(string game_id): when called, assign a game session (using uuid), also create <”started”, “game”> log
                2.	EndGame()
                3.	StartStage(string stage_id)
                4.	EndStage()
                5.	StartActivity(string activity_id)
                6.	EndActivity()
                7.	PerformedAction(string activity_id, and other args)
            -->
            <h3>Logs Available By Metadata:</h3>
            <ul id="metadata_log_type_options">
                <!--
                    - include an onChange() so that when we check or uncheck something LogFilterBySelection.filter()
                      is called.  LogFilterBySelection.filter() should also call LogFilterBySelection.getSelections()

                    - Also need to turn these into checkboxes, we should populate the list of available checkboxes
                      according to the MetaData input from C3
                -->
                <li id="StartGame">
                    StartGame()
                </li>
                <li id="EndGame">
                    EndGame()
                </li>
                <li id="StartStage">
                    StartStage()
                </li>
                <li id="EndStage">
                    EndStage()
                </li>
                <li id="StartActivity">
                    StartActivity()
                </li>
                <li id="EndActivity">
                    EndActivity() | SubmitActivity()
                </li>
                <li id="PerformedAction">
                    PerformedAction()
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>